@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 700px;
}

.steps-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 20px;
}

.steps-form label {
  display: block;
  width: 40%;
}

.steps-form input {
  border: 2px solid black;
  border-radius: 5px;
  width: calc(100% - 20px);
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 0 10px;
}

.steps-form__submit {
  width: 20%;
  height: 40px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.steps-table {
  text-align: center;
}

.steps-table__body {
  box-shadow: 0 0 0 2px black;
  border-radius: 10px;
}

.steps-table td {
  padding: 5px 10px;
}

.edit-button,
.delete-button {
  cursor: pointer;
}
